.about {
  width: 30%;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 5%;
}

.download {
  width: 30%;
  display: inline-block;
  vertical-align: text-top;
}

.contact {
  width: 30%;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 5%;
}