.about {
  width: 30%;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 4%;
}

.download {
  width: 30%;
  display: inline-block;
  vertical-align: text-top;
  margin: 0px;
}

.contact {
  width: 30%;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 4%;
}

.content {
  
}