/*
SP -> PX
SP / 1.4 = PX
*/

/* ---- TEXT ---- */

/* FONT IMPORTS */

@font-face {
  font-family: roboto;
  src: url('fonts/roboto/Roboto-Regular.eot');
  src: url('fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: roboto;
  src: url('fonts/roboto/Roboto-Bold.eot');
  src: url('fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: roboto;
  src: url('fonts/roboto/Roboto-Italic.eot');
  src: url('fonts/roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto/Roboto-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: roboto;
  src: url('fonts/roboto/Roboto-BoldItalic.eot');
  src: url('fonts/roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: bold;
}



@font-face {
  font-family: roboto-medium;
  src: url('fonts/roboto/Roboto-Medium.eot');
  src: url('fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: roboto-medium;
  src: url('fonts/roboto/Roboto-MediumItalic.eot');
  src: url('fonts/roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto/Roboto-MediumItalic.ttf') format('truetype');
  font-style: italic;
}



@font-face {
  font-family: roboto-light;
  src: url('fonts/roboto/Roboto-Light.eot');
  src: url('fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: roboto-light;
  src: url('fonts/roboto/Roboto-LightItalic.eot');
  src: url('fonts/roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto/Roboto-LightItalic.ttf') format('truetype');
  font-style: italic;
}

/* BASE TEXT STYLES */

* {
  font-family: roboto, Tahoma, Geneva, sans-serif;
}

h1, h2, h3, h4, p {
  color: rgba(0, 0, 0, 0.87);
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  padding: 0px;
}

h1 {
  font-size: 80px;
  font-family: roboto-light;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: normal;
}

h3 {
  font-size: 32px;
  font-weight: normal;
}

h4 {
  font-size: 24px;
  font-weight: normal;
}

p {
  font-size: 18px;
  text-align: justify;
}

time {
  font-size: 18px;
  margin-bottom: 8px;
}

figcaption {
  font-size: 12px;
}

header p {
  font-style: italic;
  font-family: roboto-light;
}

footer p:not(:first-child) {
  font-style: italic;
  font-family: roboto-light;
}

a, a:visited {
  text-decoration: none;
  color: #448AFF;
}

a:hover {
  color: rgba(41, 121, 255, 0.87);
}

/* HELPER CLASSES */

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.medium {
  font-family: roboto-medium;
}

.secondary {
  color: rgba(0, 0, 0, 0.54);
}

.hint {
  color: rgba(0, 0, 0, 0.38);
}

/* ---- ELEMENTS ---- */

.button {
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
  font-family: roboto-medium;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  line-height: 24px;
  min-width: 64px;
  height: 24px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 3px;
}

.button:hover, .button:visited {
  color: rgba(0, 0, 0, 0.87);
}

.button-disabled, .button-disabled:hover {
  color: rgba(0, 0, 0, 0.26);
}

.button-raised {
  background-color: #448AFF;
}

.button-raised:hover {
  background-color: #3C7AE1;
}

.button-raised:active {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.button-disabled.button-raised, .button-disabled.button-raised:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.button-disabled.button-raised:active {
  box-shadow: none;
}

.button-flat:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.button-flat:active {
  background-color: rgba(0, 0, 0, 0.4);
}

.button-disabled.button-flat:hover, .button-disabled.button-flat:active {
  background: none;
}

.button-disabled {
  cursor: not-allowed;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

/* ---- STRUCTURE ---- */

/* SECTIONS */

.pictureless-header-background {
  background-color: #FFC107;
  width: 100;
}

.body-background {
  width: 100;
  margin-top: 30px;
}

.content {
  width: 1024px;
  margin: 0 auto;
}



/* MARGINS AND PADDING */

body, html {
  padding: 0px;
  margin: 0px;
}

body {
  margin: auto;
}

.head {
  padding-top: 50px;
  padding-bottom: 50px;
}

header {
  margin-bottom: 30px;
}

header h3 {
  margin-bottom: 0px;
}

footer {
  margin-top: 30px;
}

figure {
  margin-left: 100px;
}
